
<h1>Pirates</h1>
  <p><h3>Name: <%= @pirate.name %></h3></p>
 <p><h4>Weight: <%= @pirate.weight %> pounds</h4></p>
 <p> <h4>Height: <%= @pirate.height %> inches</h4></p>


<h1>Ships</h1>
<% @ships.each do |ship|%>
    <p><h3>Name: <%= ship.name %></h3></p>
    <p><h4>Type: <%= ship.type %></h4></p>
    <p><h4>Booty: <%= ship.booty %></h4></p>
<% end %>